@import "../../variables.scss";

.home-page {
  margin-left: 252px;
  min-height: 828px;

  &__add-filters {
    margin-top: 104px;
    margin-left: 24px;
  }

  &__filters-info {
    width: 368px;
    margin: 0 auto 0 auto;
  }

  &__recent {
    width: 488px;
    border-radius: 16px;
    border: 1px solid $highlight-gray;
    margin: 56px auto 0 auto;
  }
}

.add-filters {
  &__arrow {
    background-image: url(../../assets/svg/home-arrow.svg);
    width: 41px;
    height: 9px;
  }

  &__text {
    margin: 0 0 0 20px;
    width: 141px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }
}

.filters-info {
  &__img {
    display: flex;
    margin: 0 auto 24px auto;
  }

  &__text {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
  }
}

.recent {
  &__title {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid $highlight-gray;

    &:before {
      content: url(../../assets//svg/recent-icon.svg);
      margin: auto 8px auto 16px;
      height: 18px;
    }
  }

  &__img {
    display: flex;
    margin: 16px auto 9px auto;
  }

  &__text {
    width: 210px;
    margin: 0 auto 20px auto;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }
}
