@import "../../variables.scss";

.login {
  display: flex;
  min-height: 900px;

  &__wrap {
    width: 50%;
    min-height: 900px;
    padding: 114px 0 0 112px;
  }

  &__title {
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    margin: 0 0 8px 0;
  }

  &__text {
    width: 357px;
    line-height: 20px;
    font-weight: 600;
    margin: 0 0 48px 0;
  }
}

.logo {
  width: 50%;
  min-height: 900px;
  background-color: #f5f6f9;
  background-image: url(../../assets/png//login-bg.png);
  position: relative;

  &__img {
    &__wrap {
      height: 679px;
    }

    &_first {
      position: absolute;
      margin-left: 351px;
      margin-top: 61px;
    }

    &_second {
      position: absolute;
      margin-left: 88px;
      margin-top: 168px;
    }

    &_third {
      position: absolute;
      margin-left: 387px;
      margin-top: 334px;
    }
  }

  &__logo {
    font-size: 24px;
    font-weight: 900;
    line-height: 48px;
    text-transform: uppercase;
    padding: 21px 0 0 88px;
    margin: 0;
  }

  &__text {
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    padding: 8px 133px 0 88px;
    margin: 0;
  }
}
